@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Variable</title>
</head>
<body>
    <div>The Controller is:@ViewBag.Controller</div>
    <div>The action is:@ViewBag.Action</div>
    <div>The Customer Variable is:@ViewBag.Id</div>
</body>
</html>
